{% extends "base.html" %}
{% load static %}


{% block page_title %}Моя группа{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block content %}
<section >
    <h1 class="h1">Группы</h1>
    <div class="table-wrapper">
        {% for group in groups %}
        <table class="table mt-40">
            <thead>
                <tr>
                    <th colspan="4">Группа {{ group.number }}</th>
                </tr>
                <tr>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for student in group.students.all %}
                <tr>
                    <td>{{ student.first_name|default:"-" }}</td>
                    <td>{{ student.last_name|default:"-" }}</td>
                    <td>{{ student.profile.middle_name|default:"-" }}</td>
                    <td>{{ student.email|default:"-" }}</td>
                    <td><a href="{% url 'group-student-grade' student.pk %}" class="btn btn-table">успеваемость</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
<!--    <section class="section">-->
<!--        <h2 class="h2 mt-40">Активные дисциплины</h2>-->
<!--        <div class="menu mt-40">-->
<!--            {% for subject in group.subject_set.all %}-->
<!--            <div>-->
<!--                <a href="#" class="menu__item">-->
<!--                    {{ subject.name }}-->
<!--                </a>-->
<!--                <a href="{% url 'remove-subject-from-group' subject.id %}">Исключить</a>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </section>-->


</section>
<script>
    $(".confirm").on('click', function(e) {
        var req = confirm("Вы уверены?");
        if (!req){
            event.preventDefault();
        }

    })
</script>
{% endblock %}