{% extends "base.html" %}
{% load static %}


{% block page_title %}Мои дисциплины{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block content %}
<section >
    <h1 class="h1">Дисциплины</h1>
    <a href="{% url 'my-subject-create' %}" class="btn mt-40">Создать дисциплину</a>
    <a href="{% url 'subjects-upload' %}" class="btn mt-20">Загрузить</a>

    <div class="table-wrapper mt-40">
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                {% if object.owner != user %}
                <tr>
                    <td>{{ object.name|default:"-" }}</td>
                    <td>
                        <a href="{% url 'my-subject' object.pk %}" class="btn btn-table">открыть</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>

{% endblock %}