{% extends "base.html" %}
{% load static %}

{% block page_title %}{{ lesson.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
{% endblock %}

{% block content %}
<section class="section">
    <h1 class="h1">{{ lesson.name }}</h1>
    <div class="gallery mt-40">
        {% for video in lesson.videos.all  %}
        <div class="lesson-video popup-video">
            <video controls>
                <source src="{{ video.video.url }}" type="video/mp4">
            </video>
        </div>
        {% endfor %}
        <div class="lesson-images mt-20">
            {% for photo in lesson.photos.all  %}
            <a href="{{ photo.photo.url }}" class="lesson-image popup-image">
                <img src="{{ photo.photo.url }}" alt="">
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="mt-20">
        <h2 class="h2">Дополнительные файлы</h2>
        {% for file in lesson.files.all %}
        <a href="{{ file.file.url }}" class="mt-20" style="display: flex;">{{ file.file|cut:"lessons/files/" }}</a>
        {% endfor %}
    </div>

    <div class="lesson-text mt-40">
        {% if lesson.text %}
        {{ lesson.text|linebreaks }}
        {% endif %}
    </div>

    {% if lesson.test %}
    <h2 class="h2 mt-40">Тест <span class="test-score">{{ best_try|floatformat:0 }}/100</span></h2>
    <a href="{% url 'student-test' lesson.test.pk %}" class="btn mt-20">Пройти</a>
    {% endif %}

    {% if lesson.type == "IW" %}
    {% if work_score %}
    <p>Ваша оценка: <b>{{ work_score }}</b></p>
    {% else %}
    <p>Вы еще не отправили свою работу</p>
    {% endif %}
    <h2 class="h2">Загрузите свою работу</h2>
    <form action="{% url 'student-individual-work' lesson.pk %}" method="POST" class="form form_left mt-40" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__item">
            <label for="{{work_form.file.id_for_label}}" class="form__label">{{work_form.file.label}}</label>
            {{ work_form.file }}
        </div>
        <div class="form__item">
            <button type="submit" class="btn">Загрузить</button>
        </div>
    </form>
    {% endif %}
</section>

<script>

    $('.popup-image').magnificPopup({
        type:'image',
        gallery: {
            enabled: true,
            // tCounter: '<span class="mfp-counter">%curr% из %total%</span>'
        }

    });

</script>
{% endblock %}