{% extends "base.html" %}
{% load static %}


{% block page_title %}Дисциплины{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block content %}
<section >
    <h1 class="h1">Дисциплины</h1>
    <a href="{% url 'subject-add' %}" class="btn mt-40">Добавить</a> <a href="{% url 'subjects-upload' %}" class="btn mt-20">Загрузить</a>
    <div class="table-wrapper mt-40">
        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Преподаватель</th>
                <th>Группы</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
            <tr>
                <td>
                    <a href="{% url 'subject' object.id %}" class="table__object-url">{{ object.id }}</a>
                </td>
                <td>{{ object.name|default:"-" }}</td>
                <td>
                    {% if object.owner %}<a href="{% url 'teacher' object.owner.pk %}" class="table__foreign-key">{{ object.owner.username }}</a>{% endif %}
                </td>
                <td>
                    {% for group in object.groups.all %}
                    <a href="{% url 'group' group.pk %}" class="table__foreign-key">{{ group.id }}</a>,
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'subject' object.id %}" class="btn btn-table">изменить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</section>
{% endblock %}