{% extends "base.html" %}
{% load util %}
{% load static %}

{% block page_title %}О нас{% endblock %}

{% block content %}
<section class="about-section">
    <h1 class="h1">О нас</h1>
    <p class="about-text">
        БГУИР – это высшее учебное заведение, где обучение представляется увлекательным для студентов и интересным для преподавателей. Здесь занятия становятся особым временем взаимодействия между студентом и преподавателем, периодом активных дискуссий, поиска новых знаний и истины. В наших стенах используются как традиционные, хорошо зарекомендовавшие себя методы обучения, так и современные информационно-коммуникационные технологии.
        <br> <br>
        Развивая технические направления, мы соответствуем запросам города и общества, способствуя развитию инженерной сферы.
        Успех преподавателя порождает интерес. Наша современная школа раскрывает таланты каждого ребенка, помогая ему формировать целостное представление о мире. Образовательная система и пространство гимназии организованы так, чтобы предоставить каждому ученику возможность выбора и максимального освоения областей, в которых он стремится достичь максимального успеха. Основная миссия наших учителей в быстро меняющемся мире заключается в том, чтобы помогать ученикам принимать правильные решения в выборе предметов, навыков и умений для достижения максимального успеха.
    </p>
    <div class="about-section-img mt-20">
        <img src="{% static 'img/about.jpg' %}" alt="">
    </div>
</section>
<style>
     .about-section-img {

     }
    .about-section img {
        width: 100%;
    }
</style>
{% endblock %}