{% extends "base.html" %}
{% load util %}
{% load static %}


{% block page_title %}Заявки{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block content %}
<section >
    <h1 class="h1">Заявки</h1>
    <div class="table-wrapper mt-40">
        <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Email</th>
                <th>Группа</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
            <tr>
                <td>{{ object.first_name|default:"-" }}</td>
                <td>{{ object.last_name|default:"-" }}</td>
                <td>{{ object.middle_name|default:"-" }}</td>
                <td>{{ object.email|default:"-" }}</td>
                <td>
                    <a href="{% url 'group' object.group_number %}" class="table__foreign-key">{{ object.group_number }}</a>
                </td>
                <td>
                    <a href="{% url 'application' object.id %}" class="btn btn-table">изменить</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    </div>

</section>
{% endblock %}