{% extends "base.html" %}
{% load util %}
{% load static %}


{% block page_title %}Успеваемость{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block content %}
{% if user.profile.type == 1 %}
<a href="{% url 'students' %}" class="back"><svg width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M30.3301 18L6.33008 18M6.33008 18L15.3301 27M6.33008 18L15.3301 9" stroke="#383838" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Назад</a>

{% else %}
<a href="{% url 'my-group' %}" class="back"><svg width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M30.3301 18L6.33008 18M6.33008 18L15.3301 27M6.33008 18L15.3301 9" stroke="#383838" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
</svg>Назад</a>

{% endif %}
<section >
    <h1 class="h1">Успеваемость студента {{ student }}</h1>
    <div class="table-wrapper mt-40">
        <table class="table">
        <thead>
            <tr>
                <th>Дисциплина</th>
                <th>Преподаватель</th>
                <th>Оценка</th>
            </tr>
        </thead>
        <tbody>
            {% for subject, score in grade.items %}
            <tr>
                <td>{{ subject.subject }}</td>
                <td>{{ subject.teacher }}</td>
                <td>{{ score }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    </div>

</section>
{% endblock %}